* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(./Images/alan-jones-OQsxdghBKrU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    width: 30vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem;
    margin-top: 4rem;
    box-shadow: 0px 1px 10px 1px rgb(240, 166, 166);
    border-radius: 10px;
}

h1 {
    color: white;
}

hr {
    border: none;
    border-bottom: 2px solid red;
    margin-top: 1.5rem;
}

input {
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
}

.fields {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 0 1rem;
}

.submit-btn {
    padding: 0.8rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    border: none;
    transition: 0.1s ease-in;
}

.submit-btn:hover {
    outline: solid red;
    color: rgba(255, 255, 255, 1);
}